#nav {
  background: #333;
  color: white;
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
  font-family: Roboto, sans-serif;
}

#nav h4 {
  margin-top: 1em;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

#nav-menu {
}

.nav-section-contents ul {
  padding: 0 0 0 0.5em;
  list-style-type: none;
}

.nav-section-contents li {
  font-family: monospace;
  font-size: 0.85em;
}

.nav-section-label, .nav-section-contents li {
  cursor: pointer;
  font-weight: normal;
}

.nav-section-label::selection, .nav-section-contents li::selection {
  background: transparent;
}

/* - navigation sections badges - */

.nav-section-label:before {
  font-family: monospace;
  padding: 0.2em;
  margin-right: 0.5em;
  font-size: 0.8em;
  border-radius: 3px;
}

.nav-section-label-namespacemethod_table:before {
  content: 'M';
  background: #00d181;
  border: solid 1px #00d181;
}

.nav-section-label-namespacemethod_table:hover:before {
  content: 'Methods';
} 

.nav-section-label-hook_table:before {
  content: 'H';
  border: solid 1px orange;
  background: orange;
}

.nav-section-label-hook_table:hover:before {
  content: 'Hooks';
}

.nav-section-label-constant_table:before {
  content: 'C';
  border: solid 1px #9500ff;
  background: #9500ff;
}

.nav-section-label-constant_table:hover:before {
  content: 'Constants';
} 