#nav {
    background: #333;
    color: white;
}

body {
    font-family: Roboto, sans-serif;
}

#intro {
    margin-top: 15px;
}

#home {
    margin-top: 1em;
}

#uhoh {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}

#current-doc {
    max-width: 100%;
    position: relative;
}

#actual-doc, #namespace-list {
    display: none;
}

#current-doc h1 {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

#doc-example pre > a {
    margin: 0 0 10px;
}

#nav h4 {
    margin-top: 1em;
}

#nav p {
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: gray;
}

#search {
    margin-bottom: 0.9rem;
}

pre code {
    white-space: pre;
}

#nav-menu {
    padding-bottom: 10px;
}

.nav-section-contents ul {
    padding: 0;
    list-style-type: none;
}

.nav-section-contents li {
    font-family: monospace;
    font-size: 0.85em;
    padding-left: 1.85em;
}

.nav-section-label {
    display: block;
}

.nav-section-label,
.nav-section-contents li {
    cursor: pointer;
    font-weight: normal;
}

.nav-section-label::selection,
.nav-section-contents li::selection {
    background: transparent;
}

.nav-section-label:before {
    font-family: monospace;
    padding: 0.2em;
    margin-right: 0.5em;
    border-radius: 3px;
    opacity: 0.7;
}

.nav-section-closed:before {
    content: '+';
}

.nav-section-open:before {
    content: '-';
}

.nav-item-deprecated {
	opacity: 0.5;
}

@media (min-width: 769px) {
    #nav {
        overflow-y: auto;
        min-height: 100vh;
        max-height: 100vh;
    }

    #current-doc {
        overflow: auto;
        height: 100vh;
    }
}
